@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --color-primary: #00a78e;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #171717;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-weight: 400;
  min-height: 100vh;
  cursor: default;
  font-family: "Rubik", sans-serif;
}

section {
  scroll-margin-top: 50px;
}

header nav ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--color-primary);
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
  display: block;
}

header nav ul li a.active {
  color: var(--color-primary);
}

header nav ul li a.active::after {
  width: 100%;
}

header nav ul li a:hover::after {
  width: 100%;
}

.btn-primary::after,
.btn-secondary::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(0, 167, 142, 0.7);
  z-index: -1;
  transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn-primary::after {
  left: 0;
}
.btn-secondary::after {
  right: 0;
}

.btn-primary:hover::after,
.btn-secondary:hover::after {
  width: 100%;
}

.nav-list li a {
  translate: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-list li a:hover {
  display: inline-block;
}

.nav-list li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-primary);
  transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-list li a.active {
  color: var(--color-primary);
}

.nav-list li a.active::after {
  width: 100%;
}

.nav-list li a:hover::after {
  width: 100%;
}

header.is-sticky {
  position: fixed;
  animation: slideDown 0.5s ease-out;
}

.effect {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(23, 23, 23, 0.6);
  backdrop-filter: blur(10px);
  z-index: -10;
}

.swiper-pagination-bullet {
  background: #999 !important;
}
.swiper-pagination-bullet-active {
  background: var(--color-primary) !important;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  header nav ul li a::after {
    background-color: #fff;
  }

  header nav ul li a.active {
    color: #fff;
  }
}
